.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(67,67,75);
}

.main > .left-column {
    padding: 20px;
    margin: 100px;
    justify-content: center;
    width: 50%;
    font-family: 'Roboto';
    font-size: 2.5em;
    font-weight: 100;
    color: white;
}

.main > .left-column > .buttons {
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    margin-top: 40px;
}

.buttons > .sign-up {
    color: black;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(85, 185, 85);
    border-radius: 10px 10px;
    border-color: transparent;
    padding: 20px;
}

.buttons > .learn-more {
    color: white;
    font-size: 1em;
    font-weight: bold;
    background-color: black;
    border-radius: 10px 10px;
    border-color: transparent;
    padding: 20px;
}

.main > .right-column {
    margin-right: -50px;
    margin-bottom: -100px;
}

.main > .right-column h1 {
    color: white;
    font-size: 1.5em;
}